@page
@model AnimeWebproject.Pages.Home.FanBaseModel
<div class="main-container">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h4 id="scrollspyHeading1">Создание</h4>
        <p>
            <a href="">
                JoJo's Bizarre Adventure
            </a> — серия выпусков манги, автором и иллюстратором которой является
            <a href="">
                Хирохико Араки.
            </a>
            <br>
            <br>
            <img src="/Images/Hirohiko_Araki.webp.png" class="img-fluid" alt="Writer">
            <br>
            <br>
            Хирохико Араки
        </p>
        <h4 id="scrollspyHeading2">Содержание</h4>
        <p>
            JoJo’s Bizarre Adventure является второй в числе крупнейших серий манги издательства
            <a href="">
                Shueisha
            </a>
            и включает в себя 131 том, уступая лишь
            <a href="">
                Kochikame
            </a>, состоящей из 200 томов.
        </p>
        <div class="images-container">
            <img src="~/Images/StadustAnime-Promo.webp.png" height="400" width="360">
            <img src="/Images/Kira_Youshikage.webp.png" height="400" width="360">
            <img src="/Images/Jyro_Zeppeli.jpg.png" height="400" width="360">
        </div>


        <p>
            История восьми частей манги разворачивается вокруг приключений Джонатана Джостара и его потомков:
            каждая часть представляет читателю отдельную историю и нового героя, способного применять в бою сверхъестественные силы.
        </p>
        <h4 id="scrollspyHeading3">Ветвление</h4>
        <p>
            На основе манги были созданы 13-серийная OVA (1993—2002), полнометражный анимационный фильм (2007),
            полнометражный игровой фильм (2017) и пять сезонов сериала (2012—2020) производства студии
            <a href="">
                David Production
            </a>
        </p>
        <h4 id="scrollspyHeading4">Оценка</h4>
        <p>
            Критики в основном положительно оценили JoJo’s Bizarre Adventure как франшизу в целом.
            В частности, ими были отмечены самобытный дизайн
            и сюжетное развитие манги, хорошая проработка окружающего мира и сеттинга.
            По мнению обозревателей, боевые сцены также выгодно выделялись тем, что победу протагонистов предрешала не сила противника,
            а способность продумывать правильную стратегию, но, с другой стороны, сражения могли отличаться излишней жестокостью.
        </p>
        <h4 id="scrollspyHeading4">Итог</h4>
        <p>
            Каждая отдельная часть серии обладает своими преимуществами и недостатками:
            первые две части манги были признаны самыми слабыми во франшизе; в поздних же работах критики заметили отход Араки от концепции «сражения добра и зла»
            в сторону изучения психологии, внутренних конфликтов персонажей и этических проблем.
            По результатам нескольких опросов JoJo’s Bizarre Adventure была признана одной из лучших манг.
        </p>
    </div>
</div>