@page
@model AnimeWebproject.Pages.Home.SeasonsModel
@{
}
<div class="card seasons_container">
    <div class="card-body">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Невероятное приключение ДжоДжо.
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Невероятное приключение ДжоДжо.</strong> Во всех поколениях прекрасного рода Джостаров есть такой определенный потомок, чье имя начинается с того же слога, и у него появляется привычное в таких случаях прозвище – ДжоДжо. 
                        Начиная с непростого девятнадцатого столетия смыслом жизни этого парня становится спасение всего живого на Земле и противостояние вампирам, страшным зомби и даже жестоким серийным маньякам. 
                        Все началось, когда мужчина Джордж Джостар, проживающий еще в викторианской эпохе,однажды спутал по непонятным причинам воришку со спасителем, а по итогу он еще взял к себе в дом и сына «добродушного» человека, которого она толком и не знал.
                        Ну что ж, с этого момента потомкам на несколько сотен лет вперед не стоит волноваться по поводу скуки и безделья. 
                        У Джорджа имеется сын по имени Джонатан, это молодой совершенно бескорыстный молодой человек. 
                        Однажды он узнает об ужасном секрете, его ему придется держать в себе до конца своих дней. 
                        Но он решает раскрыть коварные планы своего брата, спасти честь его семейства, защитить и вернуть любовь, которая уже давно была потеряна. 
                        Если дело благородное, то становятся хороши все средства – боевые восточные искусства, специальная магия, и даже понятия преступников.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Невероятное приключение ДжоДжо: Рыцари звёздной пыли
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Невероятное приключение ДжоДжо: Рыцари звёздной пыли</strong>
                        Зловещий и очень опасный Дио находился на протяжении целого века в заточении в морских глубинах, но однажды ему удалось сбежать. 
                        Он начал планировать жестокую и беспощадную месть своим заклятым противникам. 
                        Но род Джостаров не собирается уступать, сил у семейства еще предостаточно, а главное, что в двадцатом веке среди молодого поколения уже подрастал еще один защитник рода людского на Земле, и он стал носителем легендарного имени ДжоДжо.
                        Но правильнее было назвать нового воина другим именем – ДзёДзё, потому что это внук Джохефа и сын Холи, он родился в Японии, и имя его звучит как Джотаро Куджо. 
                        Но духом же этот молодой человек полностью совпадает с истинным Джостаром, поэтому по жизни ни ему, ни кому-то еще скучно не будет.

                        Так вот, зрителю предстоит снова очутиться в мире жестоких яростных мужчин, очаровательных девушек и негодяев, которые готовы пойти на всё, чтобы достичь своей цели. 
                        Целый век не прошёл просто так впустую: кроме боевых искусств людям стал доступен призыв Опоры.
                        Это дух-двойник, у которого имеются определенные способности. 
                        Главному, его полному сил деду по имени Джозеф, а также бойцам, которые примкнули к героям, предстояло сделать грандиозный марш через всю Азию в Каир.
                        Там предстояло противостоять страшному существу, которым стал именно тот жестокий Дио.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Невероятное приключение ДжоДжо:...
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
}