@page
@model AnimeWebproject.Pages.Account.RegisterModel
@{
    Layout = "../Shared/_RegLogLayout.cshtml";
}

<h1>
    Registration
</h1>
<form id="register">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" name="Username" class="form-control" id="exampleInputEmail1">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="email" name="Email" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="password" name="Password" class="form-control" id="exampleInputEmail1">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Confirm password</label>
        <input type="password" name="ConfirmPassword" class="form-control" id="exampleInputEmail1">
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Registration</button>
    <a class="nav-link" href="/Account/Login">
        Login
    </a>
    <p class="text-danger" id="validate"></p>
</form>

@section Scripts{
    <script>
        $('#register').on('submit', function (e) {
            e.preventDefault();

            const data = Object.fromEntries(new FormData(e.target).entries());

            $.ajax({
                type: "POST",
                url: "/api/Account/reg",
                data: data,
                success: function (result) {
                    console.log(result);
                    if (result == 1) {
                        $("#validate").text("User exists");
                    } else {
                        window.location.href = "/index";
                    }
                },
                error: function (result) {
                    alert("error:" + result);
                },
                complete: function (result) {

                }
            });
        });
    </script>
}