@page
@model AnimeWebproject.Pages.Account.SettingsModel
@{
}

<form id="SettingsForm">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Username</span>
        <input type="text" name="Username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input type="text" name="Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Password</span>
        <input type="text" name="Password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
        <input type="file" name="Avatar" class="form-control" id="inputGroupFile01">
    </div>
    <div class="input-group">
        <span class="input-group-text">Description</span>
        <textarea class="form-control" name="Description" aria-label="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
</form>
<img id="preview" src="" alt="Alternate Text" />

@section Scripts {
    <script>
        $.ajax({
            type: "GET",
            url: "/api/Account/user",
            success: function (result) {
                $("#preview").attr("src", "data:image/png;base64," + result.avatar);
                $("input[name='Username']").val(result.username);
                $("input[name='Email']").val(result.email);
                $("input[name='Username']").val(result.username);
                $("textarea[name='Description']").val(result.description);
                $("input[name='Password']").val(result.password);
            },
            error: function (result) {
                console.log(result);
                alert("error:" + result);
            },
            complete: function (result) {

            }
        });
        $('#SettingsForm').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/api/Home/settings',
                data: new FormData($('#SettingsForm')[0]),
                processData: false,
                contentType: false,
                success: function (data) {
                    window.location.reload();
                },
                error: function (err) {
                    console.error(err);
                }
            });
        });
    </script>
}