@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card home_container">
    <div class="card-body">
        <h3>Recently added series</h3>
        <div class="recently_added">
            <a href="#" class="video_wrapper">
                <div class="image">
                    <img src="#" alt="Alternate Text" />
                </div>
                <div class="name">
                    Testname
                </div>
            </a>
        </div>
    </div>
</div>