@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card home_container">
    <div class="card-body">
        <h1>Welcome to anime Website</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Search</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <h3>Recently added series</h3>
        <div class="recently_added">
            <a href="#" class="video_wrapper">
                <div class="image">
                    <img src="~/Images/Kira_Youshikage.webp.png" alt="Alternate Text" />
                </div>
                <div class="name">
                    Testname
                </div>
            </a>
        </div>
    </div>
</div>