<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimeWebproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.4-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="~/css/Userpage.css" />
    <link rel="stylesheet" href="~/css/FanBase.css" />
    <link rel="stylesheet" href="~/css/Seasons.css" />
    <link rel="stylesheet" href="~/css/Video.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">JJBA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item position-relative">
                            <a class="nav-link text-dark position-absolute" style="left: -250px; top: 0;">
                                <img src="~/Images/JoJo's_Bizarre_Adventure_logo.png" alt="Alternate Text" height="100" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Seasons">Seasons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Groups">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Contact">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/About">About JoJo</a>
                        </li>
                        <li class="nav-item" id="account_item">
                            <a class="nav-link text-dark" href="/Account/Userpage">Account</a>
                        </li>
                        <li class="nav-item" id="login_item">
                            <a class="nav-link text-dark" href="/Account/Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AnimeWebproject - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.youtube.com/player_api" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <script>
        $.ajax({
            type: "POST",
            url: "/api/Account/auth",
            success: function (result) {
                var auth = result != undefined;
                $("#account_item").css("display", auth ? "block": "none")
                $("#login_item").css("display", !auth ? "block": "none")
                if (auth) {
                    $(".profile_username").text(result.username);
                }
            },
            error: function (result) {
                alert("error:" + result);
            },
            complete: function (result) {

            }
        });
    </script>
</body>
</html>
